
.idea/workspace.xml
project/appIndiTDE/__pycache__/views.cpython-37.pyc
*.pyc
*.pyc
*.pyc
project/appIndiTDE/__pycache__/views.cpython-37.pyc
project/appIndiTDE/__pycache__/views.cpython-37.pyc
project/appIndiTDE/migrations/__pycache__/0002_usuario.cpython-37.pyc
*.pyc
*.pyc
*.xml
.idea/workspace.xml
