<!doctype html>

{% extends "inditde/base.html" %}
{% load static %}


{% block head%}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#show").click(function () {
            //$('#prueba').append($('#extra_articles').html());
            if ($('#all').is(':visible')) {
                $("#all").hide();
                $("#show").text("Más elementos");

            } else {
                $("#all").show();
                $("#show").text("Menos elementos");
            }
        });
    });
</script>

{% endblock%}


{% block content %}

<!--================Category Product Area =================-->
<section class="cat_product_area section_padding border_top">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="left_sidebar_area">
                    <aside class="left_widgets p_filter_widgets sidebar_box_shadow">
                        <!--<div class="l_w_title"><h3>Filtrar:</h3> </div>-->

                        <form method="get">
                            <ul class="list">
                                <li class="l_w_title"><h3>Género</h3></li>
                                <li class="widgets_inner">
                                <li></li>
                                <li> {{ filter.form.genero}}</li>
                                </li>
                                <li class="l_w_title"><h3>Marcas</h3></li>
                                <li class="widgets_inner">
                                <li></li>
                                {% for choice in filter.form.marca %}
                                <li> {{ choice.tag }} {{ choice.choice_label }}</li>
                                {% endfor %}
                                </li>
                                <li class="l_w_title"><h3>Categoría</h3></li>
                                <li class="widgets_inner">
                                <li></li>
                                <li> {{ filter.form.categoria}}</li>
                                </li>

                            </ul>

                            <div class="text-center">
                                <button type="submit" class="btn_2 ">Buscar</button>
                            </div>
                        </form>


                    </aside>

                    <aside class="left_widgets p_filter_widgets sidebar_box_shadow">
                        <!--<div class="l_w_title">
                            <h3>Product filters</h3>
                        </div>
                        <div class="widgets_inner">
                           <form id="search" name="search">
                                <ul class="list">
                                    <p>Brands</p>
                                    <li>
                                        <input type="radio" value="all" name="group_brands" id="group_brands" onclick="onlyone(this)">
                                        <a onclick="document.getElementById('all').checked=true;">All</a>
                                    </li>
                                    {% for m in marcas%}
                                    <li>
                                        <input type="radio" value="{{m.nombre}}" name="group_brands" id="group_brands" onclick="onlyone(this)">
                                        <a onclick="document.getElementById('{{m.nombre}}_rbtn').checked=true;">{{m.nombre}}</a>
                                    </li>
                                    {% endfor %}
                                </ul>
                                <ul class="list">
                                    <p>Categorys</p>
                                    {% for c in categorys%}
                                    <li>
                                        <input type="radio"  id="{{c}}_rbtn">
                                        <a href="#">{{c}}</a>
                                    </li>
                                    {% endfor %}
                                </ul>

                                <input type="submit" value="Search">
                            </form>
                        </div>-->


                    </aside>

                    <aside class="left_widgets p_filter_widgets price_rangs_aside sidebar_box_shadow">
                        <!--<div class="l_w_title">
                            <h3>Price Filter</h3>
                        </div>
                        <div class="widgets_inner">
                            <div class="range_item">
                                <div id="slider-range"></div>
                                <input type="text" class="js-range-slider" value="" />
                                <div class="d-flex align-items-center">
                                    <div class="price_text">
                                        <p>Price :</p>
                                    </div>
                                    <div class="price_value d-flex justify-content-center">
                                        <input type="text" class="js-input-from" id="amount" readonly />
                                        <span>to</span>
                                        <input type="text" class="js-input-to" id="amount" readonly />
                                    </div>
                                </div>
                            </div>
                        </div>-->
                    </aside>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="row" id="prueba">
                    <div class="col-lg-12">
                        <div class="product_top_bar d-flex justify-content-between align-items-center">
                            <div class="single_product_menu product_bar_item">
                                <h2>Artículos:</h2>
                            </div>
                        </div>
                    </div>


                    {% for r in filter.qs|slice:":6"%}
                    <div class="col-lg-4 col-sm-6">
                        <div class="single_category_product">
                            <div class="single_category_img">
                                <img src="{{MEDIA_URL}}{{r.img.url}}" alt="">
                                <div class="category_social_icon">
                                    <ul>
                                        <form action="{% url 'category' %}" method="POST">
                                            {% csrf_token %}
                                            <li><button class="ti-bag" value="{{r.id}}" name='ropaCarro' type="submit"></button></li>
                                        </form>
                                    </ul>
                                </div>
                                <div class="category_product_text">
                                    <a href="{% url 'clothe' r.id%}"><h5>{{r.nombre}}</h5></a>
                                    <p>{{r.pfinal}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                    {% for r in filter.qs%}
                    {% if forloop.counter0 >= 6%}
                    <div class="col-lg-4 col-sm-6" id="all" style="display:none">
                        <div class="single_category_product">
                            <div class="single_category_img">
                                <img src="{{MEDIA_URL}}{{r.img.url}}" alt="">
                                <div class="category_social_icon">
                                    <ul>
                                        <li><a href="#"><i class="ti-heart"></i></a></li>
                                        <li><a href="#"><i class="ti-bag"></i></a></li>
                                    </ul>
                                </div>
                                <div class="category_product_text">
                                    <a href="{% url 'clothe' r.id%}"><h5>{{r.nombre}}</h5></a>
                                    <p>{{r.pfinal}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}


                </div>

                <div class="col-lg-12 text-center">
                    <button id="show" class="btn_2">Más elementos</button>
                </div>

            </div>
        </div>
    </div>
</section>
<!--================End Category Product Area =================-->
<script>

    function onlyOne(checkbox) {
        var checkboxes = document.getElementsByName('group_brands')
        checkboxes.forEach((item) => {
            if (item !== checkbox) item.checked = false
        })
        document.brands.submit();
    }
</script>
{% endblock %}
