{% extends "inditde/base.html" %}
{% load static %}

{% block content %}
  <section class="checkout_area section_padding">
    <div class="container">
      <div class="cupon_area">
        <div class="check_title">
          <h2>
            ¿Tienes algún cupón?
          </h2>
        </div>
        <input type="text" id="descuento" placeholder="Introduce tu cupón" />
        <a class="tp_btn" href="{% url 'checkout' %}">Aplicar cupón</a>
      </div>
      <div class="billing_details">
        <div class="row">
          <div class="col-lg-8">
            <h3>Detalles de facturación</h3>
            <form class="row contact_form" action="#" method="post" novalidate="novalidate">
              <div class="col-md-6 form-group p_star">
                <input type="text" class="form-control" id="first" name="name" />
                <span class="placeholder" data-placeholder="Nombre"></span>
              </div>
              <div class="col-md-6 form-group p_star">
                <input type="text" class="form-control" id="last" name="name" />
                <span class="placeholder" data-placeholder="Apellidos"></span>
              </div>
              <div class="col-md-6 form-group p_star">
                <input type="text" class="form-control" id="number" name="number" />
                <span class="placeholder" data-placeholder="Número de teléfono"></span>
              </div>
              <div class="col-md-6 form-group p_star">
                <input type="text" class="form-control" id="email" name="compemailany" />
                <span class="placeholder" data-placeholder="Correo electrónico"></span>
              </div>
              <div class="col-md-12 form-group p_star">
                <input type="text" class="form-control" id="add1" name="add1" />
                <span class="placeholder" data-placeholder="Dirección"></span>
              </div>
              <div class="col-md-12 form-group p_star">
                <input type="text" class="form-control" id="city" name="city" />
                <span class="placeholder" data-placeholder="Municipio"></span>
              </div>
              <div class="col-md-12 form-group">
                <input type="text" class="form-control" id="zip" name="zip" placeholder="Código postal" />
              </div>
              <div class="col-md-12 form-group">
                <textarea class="form-control" name="message" id="message" rows="1"
                  placeholder="¿Alguna sugerencia o comentario respecto al pedido?"></textarea>
              </div>
            </form>
          </div>
          <div class="col-lg-4">
            <div class="order_box">
              <h2>Your Order</h2>
              <ul class="list">
                <li>
                  <a href="#">Product
                    <span>Total</span>
                  </a>
                </li>
                  {% for r in carro %}
                <li>
                  <a href="{% url 'clothe' r.ropa.id %}">{{r.ropa.nombre}} x {{r.ropa.cantidad}}
                    <span class="last">{% widthratio r.ropa.pfinal 1 r.ropa.cantidad %} €</span>
                  </a>
                </li>
                  {% endfor %}
              </ul>
              <ul class="list list_2">
                <li>
                  <a href="#">Total sin envío
                    <span id='precioSinEnv'>{{total}} €</span>
                  </a>
                </li>
                <li>
                  Envío gratis
                  <input type="radio" onclick="calcular()" name="envio" value="gratis">
                </li>
                <li>
                    Correos Express (+ 10.00 €)
                    <input type="radio" onclick="calcular()" name="envio" value="correos">
                </li>
                <li>
                    DHL (+ 4.00 €)
                    <input type="radio" onclick="calcular()" name="envio" value="dhl">
                </li>
                <li>
                  <a href="#">Total con envío
                    <span id="precioTotal"></span>
                  </a>
                </li>
              </ul>
              <div class="payment_item">
                <div class="radion_btn">
                  <input type="radio" id="f-option5" name="selector" />
                  <label for="f-option5">Tarjeta de crédito</label>
                  <div class="check"></div>
                </div>
                <p>
                  Introduce los datos de tu tarjeta de crédito en el formulario que saldrá después.
                </p>
              </div>
              <div class="payment_item active">
                <div class="radion_btn">
                  <input type="radio" id="f-option6" name="selector" />
                  <label for="f-option6">Paypal </label>
                  <img src="{% static 'img/product/single-product/card.jpg' %}" alt="" />
                  <div class="check"></div>
                </div>
                <p>
                  Si haces click en esta opción, te llevará a PayPal, donde tendrás que meter tu cuenta para realizar el pago.
                </p>
              </div>
              <div class="creat_account">
                <input type="checkbox" id="f-option4" name="selector" />
                <label for="f-option4">He leído y acepto </label>
                <a href="https://www.paypal.com/es/webapps/mpp/ua/useragreement-full">términos y condiciones</a>
              </div>
              <a class="btn_3" href="https://sis-t.redsys.es:25443/sis/realizarPago">Pagar</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <script type="text/javascript">
      function calcular() {
          var radios = document.getElementsByName('envio');
          var pTotal = parseFloat(document.getElementById('precioSinEnv').textContent);
          console.log(document.getElementById('precioSinEnv'))
          if (radios[0].checked) {
              document.getElementById("precioTotal").innerHTML = pTotal + " €";
          }
          if (radios[1].checked) {
              document.getElementById("precioTotal").innerHTML = pTotal + 10 + " €";
          }
          if (radios[2].checked) {
              document.getElementById("precioTotal").innerHTML = pTotal + 4 + " €";
          }
      }
  </script>
{% endblock %}
