{% extends "inditde/base.html" %}
{ % load static % }

{% block content %}
<div id="app-3">
  <p>Este es el carrito de <strong>[[usuarioVue]]</strong></p>
  <h2 v-if = "favoritosVue.length === 0">No has añadido ropa a tu lista de favoritos</h2>
  <section class="cart_area section_padding">
    <div class="container">
      <div class="cart_inner">
        <div class="table-responsive">
          <table class = "table">
            <thead>
              <tr>
                <th scope="col">Producto [[favoritosCount]]/20</th>
                <th scope="col">Precio</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(f, index) in favoritosVue">
                <td>
                  <div class="media">
                    <div class="d-flex">
                      <h5>Aqui va la imagen de la ropa</h5>
                    </div>
                    <div class="media-body">
                      <p>[[f.nombre]] x[[f.cantidad]]</p>
                      <button class="btn_3" @click="anyadirFavorito(index)">Añadir favorito</button>
                      <button class="btn_3" @click="borrarFavorito(index)">Borrar favorito</button>
                    </div>
                  </div>
                </td>
                <td>
                  <h5>[[favoritosPrecio(f)]]</h5>
                </td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td>
                  <h5>Subtotal</h5>
                </td>
                <td>
                  <p>[[favoritosPrecioTotal]]</p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
</div>


<script type="text/javascript">

  var app3 = new Vue({
  delimiters:['[[', ']]'],
  el: '#app-3',
  data: {
    message:"Prueba",
    usuarioVue:'{{usuario}}',
    favoritosPrecioTotalA: 0,
    favoritosVue: [
    {
      nombre:'Ropa1',
      cantidad: 3,
      precio: 50
    },
    {
      nombre:'Ropa2',
      cantidad: 1,
      precio: 60
    },
    ]
  },
  methods: {
    cargarFavoritos: function(favoritos){
        favoritos.forEach(favorito => this.favoritosVue.push(favorito))

    },
    borrarFavorito: function(index){

      if (this.favoritosVue[index].cantidad > 1) {

          this.favoritosVue[index].cantidad = this.favoritosVue[index].cantidad - 1;

      }else{
        this.favoritosVue.splice(index, 1);
      }

    },
    anyadirFavorito: function(index){
      this.favoritosVue[index].cantidad = this.favoritosVue[index].cantidad + 1;
    },
    favoritosPrecio: function(favorito){
      precio = favorito.precio * favorito.cantidad;
      return precio;
    },
  },
  beforeMount () {
    console.log("beforeMount")
    this.cargarFavoritos()
    this.usuarioVue="changedUser"
  },
  computed: {
    favoritosCount(){
      return this.favoritosVue.length;
    },
    favoritosPrecioTotal(){
      this.favoritosPrecioTotalA = 0;
      this.favoritosVue.forEach(favorito => this.favoritosPrecioTotalA += favorito.precio * favorito.cantidad);
      return this.favoritosPrecioTotalA;
    },
  }
});


</script>
{% endblock %}
