{% extends "inditde/base.html" %}
{ % load static % }

{% block content %}
<div id="app-3">
  <p>Esta es la lista de favoritos de <strong>[[usuarioVue]]</strong></p>
  <h2 v-if = "favoritosVue.length === 0">No has añadido ropa a tu lista de favoritos</h2>
  <section class="cart_area section_padding">
    <div class="container">
      <div class="cart_inner">
        <div class="table-responsive">
          <table class = "table">
            <thead>
              <tr>
                <th scope="col">Prenda [[favoritosCount]]/20</th>
                <th scope="col">Precio</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(f, index) in favoritosVue">
                <td>
                  <div class="media">
                    <div class="d-flex">

                    </div>
                    <div class="media-body">
                      <p>[[f.ropa.nombre]] x[[f.ropa.cantidad]]</p>
                      <button class="btn_3" @click="anyadirFavorito(index)">Añadir favorito</button>
                      <button class="btn_3" @click="borrarFavorito(index)">Borrar favorito</button>
                    </div>
                  </div>
                </td>
                <td>
                  <h5>[[favoritosPrecio(f)]]</h5>
                </td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td>
                  <h5>Subtotal</h5>
                </td>
                <td>
                  <p>[[favoritosPrecioTotal]]</p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
</div>


<script type="text/javascript">

  var app3 = new Vue({
  delimiters:['[[', ']]'],
  el: '#app-3',
  data: {
    message:"Prueba",
    usuarioVue:'{{usuario}}',
    favoritosPrecioTotalA: 0,
    favoritosVue: []
  },
  mounted: function(){
    this.cargarFavoritos();
  },
  methods: {
    cargarFavoritos: function(favoritos){
      axios.get('http://127.0.0.1:8000/api/favoritos/').then((response) => {
        response.data.forEach(favorito =>{
          if (this.usuarioVue==favorito.usuario.first_name){
            this.favoritosVue.push(favorito);
          }


        });


      })
    },
    borrarFavorito: function(index){

      if (this.favoritosVue[index].ropa.cantidad > 1) {

          this.favoritosVue[index].ropa.cantidad = this.favoritosVue[index].ropa.cantidad - 1;
          //No permite acceder a los atributos de un model con un axios.patch(). En nuestro ejemplo no deja acceder a ropa.cantidad para cambiar eso.
      }else{
        id = this.favoritosVue[index].id;
        this.favoritosVue.splice(index, 1);
        axios({
          url: 'http://127.0.0.1:8000/api/favoritos/' +id+ '/',
          method: 'delete',
          xsrfHeaderName: "X-CSRFToken",

        })

      }

    },
    anyadirFavorito: function(index){
      this.favoritosVue[index].ropa.cantidad = this.favoritosVue[index].ropa.cantidad + 1;
      id = this.favoritosVue[index].id;
      cant = this.favoritosVue[index].ropa.cantidad;
      //Igual que arriba.
    },
    favoritosPrecio: function(favorito){
      precio = favorito.ropa.pfinal * favorito.ropa.cantidad;
      return precio;
    },
  },

  computed: {
    favoritosCount(){
      return this.favoritosVue.length;
    },
    favoritosPrecioTotal(){
      this.favoritosPrecioTotalA = 0;
      this.favoritosVue.forEach(favorito => this.favoritosPrecioTotalA += favorito.ropa.pfinal * favorito.ropa.cantidad);
      return this.favoritosPrecioTotalA;
    },
  }
});


</script>
{% endblock %}
